@import "variables";
@import "mixins";

.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100vh;

  & .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1;
  }

  & .view {
    max-width: 1100px;
    margin: 0 auto;
  }
  & .create-new-table {
    padding: 1.5rem;
    background: #dadce0;

    & .create {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 160px;
      font-size: 1.5rem;
      line-height: 1.2;
      color: #000;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #dadce0;
      transition: color 0.2s, border-color 0.2s, transform 0.2s;

      &:hover {
        cursor: pointer;
        color: #00c500;
        border: 1px solid #00c500;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
  & .table-created {
    overflow-y: scroll;
    &__list-header {
      display: flex;
      justify-content: space-between;
      height: 100%;
      color: #202124;
      font-size: 16px;
      font-weight: 500;
      margin: 10px;
      padding: 0 12px;
      & .view {
        flex-direction: column;
      }
    }
    &__list {
      @include clear-list();
    }

    &__record {
      display: flex;
      padding: 14px 12px;
      margin: 0 10px 10px;
      justify-content: space-between;
      border-radius: 25px;

      &:hover {
        background: #e6f4ea;
      }

      & a {
        text-decoration: none;
        cursor: pointer;
        color: #202124;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
