@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "header";
@import "table";
@import "dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.excel {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100vh;
}

.container {
}

.toolbar,
.formula {
  padding: 10px 0;
}
